{% extends "info/blank.html" %}
{% block content %}

  <div class="row" >
    <div class="col-lg-12" style="padding: 18px 21px 2px 21px;">
      <header class="panel-heading tab-bg-info">
        <ul class="nav nav-tabs">
            {% for i in class %}
                {% if forloop.counter == 1 %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a data-toggle="tab" href="#{{i}}">
                  {{ i }}
                </a>
            </li>
            {% endfor %}
        </ul>
      </header>
      <div class="panel-body">
        <div class="tab-content">
            {% for k in class %}
              {% if forloop.counter == 1 %}
                <div id={{k}} class="tab-pane active">
              {% else %}
                <div id={{k}} class="tab-pane">
              {% endif %}
            <form action="{% url 't_attendance' %}" method="POST">
              <div class="col-lg-8" style="padding: 1%;">
              </div>
              <div class="col-lg-1" style="padding: 1%; font-size: 150%; text-align: right; margin-top: 2px; color: white;">Date:
              </div>
              <div class="col-lg-2" style="padding: 1%;">
                <input type="date" class="form-control" id="day" name="day" required>
              </div>
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <table class="table" >
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center;">Username</th>
                        <th scope="col" style="text-align: center;">Name</th>
                        <th scope="col" style="text-align: center;">Attendance</th>
                      </tr>
                    </thead>
                    <tbody >  
                      {% for j in st %}
                        {% for i in j %}
                          {% if i.classno == k %}
                          <tr>
                            <td style="text-align: center;">{{i.username}}</td>
                            <td style="text-align: center;">{{i.name}}</td>
                            <td style="text-align: center;">
                              <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                  <input type="radio" name="{{i.username}}" value="Present" required>Present
                                </label>
                                <label class="btn btn-default">
                                  <input type="radio" name="{{i.username}}" value="Absent" required>Absent
                                </label>
                                <label class="btn btn-default">
                                  <input type="radio" name="{{i.username}}" value="Leave" required>Leave
                                </label>
                              </div>
                            </td>
                          </tr>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </section>
              <section style="display: inline-block;
                padding: 6px;
                width: 100%;">
                <div class="col-lg-offset-4 col-lg-10">
                  <button type="submit" style="padding-left: 15%; border-top-left-radius: 5px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding-right: 15%;" class="btn btn-primary">Save</button>
                </div>
                <h5 class="form-signin-heading" style="text-align: center; padding: 30px 50px 15px 10px;">{{ message }}</h5>
              </section>
            </form>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
{% endblock %} 
      